<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.applicationnexus.plugins.speechrecognition"
    version="0.0.1">
    
    <name>SpeechRecognition</name>
    <description>Convert Speech to Text</description>
    <engines><engine name="cordova" version=">=3.0.0" /></engines>
    
    <js-module src="www/SpeechRecognition.js" name="SpeechRecognition">
        <clobbers target="cordova.SpeechRecognition" />
    </js-module>
    
    <!-- iOS --->
    
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="SpeechRecognition">
                <param name="ios-package" value="SpeechRecognition"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/SpeechRecognition.h" />
        
        <source-file src="src/ios/SpeechRecognition.m" />
        
        <source-file src="src/ios/frameworks/libSpeechToText.a" framework="true" />
        <framework src='AVFoundation.framework' />
        <framework src='AudioToolbox.framework' />
        <framework src='CoreAudio.framework' />
        
    </platform>
    
    
    <!--- Android -->
    
    <platform name="android">
    </platform>
    
</plugin>